---
layout: default
---

<style type="text/css">
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  img+em {
    display: block;
    text-align: center;
    color: #686868;
    padding: 0.1em;
    border-bottom: none;
    font-style: italic;
    font-size: smaller;
  }
</style>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>